html { 
    overflow-y: scroll; 
}

.vini{
    color: rgb(39, 39, 255);
    font-weight: 600;
}

.vini:hover {
    border-color: black;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: rgb(48, 46, 43);
  color:white;
}

.mynav {
  font-weight: 600;
  color: rgb(39, 39, 255);
  
}

.chal {
  color: white;
}

.media-body h4 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}